@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: rgb(243, 243, 243);
}

::-webkit-scrollbar-thumb {
  background: rgb(133, 133, 133);
  border-radius: 10px;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .MuiButton-startIcon {
    margin: 0px !important;
  }
}
